In [1]:
import numpy as np
import pandas as pd

## Direct

In [3]:
df = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "B2": pd.date_range("20130101", periods=6),
        "C": pd.Series([1, 3, 5, np.nan, 6, 8], dtype="float32"),
        "D": np.arange(1, 7),
        "E": pd.Categorical(["test", "train", "test", "train", "one", "train"]),
        "F": "foo",
    }
)
df

     A          B         B2    C  D      E    F
0  1.0 2013-01-02 2013-01-01  1.0  1   test  foo
1  1.0 2013-01-02 2013-01-02  3.0  2  train  foo
2  1.0 2013-01-02 2013-01-03  5.0  3   test  foo
3  1.0 2013-01-02 2013-01-04  NaN  4  train  foo
4  1.0 2013-01-02 2013-01-05  6.0  5    one  foo
5  1.0 2013-01-02 2013-01-06  8.0  6  train  foo

## From NumPy

In [10]:
X = np.arange(30).reshape((6, 5))
df = pd.DataFrame(X, columns=["A", "B", "C", "D", "E"])
df

    A   B   C   D   E
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24
5  25  26  27  28  29

## Conversion

In [11]:
df.to_numpy()

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29]])