In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

In [3]:
df.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [4]:
df.to_csv("pandas-exp.csv")

In [5]:
df_c = pd.read_csv("pandas-exp.csv")
df_c

   Unnamed: 0    A           B    C  D      E    F
0           0  1.0  2013-01-02  1.0  3   test  foo
1           1  1.0  2013-01-02  1.0  3  train  foo
2           2  1.0  2013-01-02  1.0  3   test  foo
3           3  1.0  2013-01-02  1.0  3  train  foo

In [6]:
df_c.dtypes

Unnamed: 0      int64
A             float64
B              object
C             float64
D               int64
E              object
F              object
dtype: object

In [7]:
df.to_hdf("pandas-exp.h5", "df", format="table")

In [8]:
df_h = pd.read_hdf("pandas-exp.h5", "df")
df_h

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [9]:
df_h.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [10]:
df.to_excel("pandas-exp.xlsx", sheet_name="Sheet1")

In [11]:
df_e = pd.read_excel("pandas-exp.xlsx", "Sheet1", index_col=None, na_values=["NA"])
df_e

   Unnamed: 0  A          B  C  D      E    F
0           0  1 2013-01-02  1  3   test  foo
1           1  1 2013-01-02  1  3  train  foo
2           2  1 2013-01-02  1  3   test  foo
3           3  1 2013-01-02  1  3  train  foo

In [12]:
df_e.dtypes

Unnamed: 0             int64
A                      int64
B             datetime64[ns]
C                      int64
D                      int64
E                     object
F                     object
dtype: object