In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.date_range("20130101", periods=6),
        "C": pd.Series([1, 3, 5, np.nan, 6, 8], dtype="float32"),
        "D": np.arange(1, 7),
        "E": pd.Categorical(["test", "train", "test", "train", "one", "train"]),
        "F": ["foo", "foo1", "foo2", "foo1", "foo", "foo"]
    }
)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      datetime64[ns]
 2   C       5 non-null      float32
 3   D       6 non-null      int64
 4   E       6 non-null      category
 5   F       6 non-null      object
dtypes: category(1), datetime64[ns](1), float32(1), float64(1), int64(1), object(1)
memory usage: 482.0+ bytes

In [4]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [5]:
df.describe()

         A         C         D
count  6.0  5.000000  6.000000
mean   1.0  4.600000  3.500000
std    0.0  2.701851  1.870829
min    1.0  1.000000  1.000000
25%    1.0  3.000000  2.250000
50%    1.0  5.000000  3.500000
75%    1.0  6.000000  4.750000
max    1.0  8.000000  6.000000

## Numerics

In [6]:
df["D"]

0    1
1    2
2    3
3    4
4    5
5    6
Name: D, dtype: int64

In [7]:
df["D"].quantile(np.arange(0, 1.1, 0.1))

0.0    1.0
0.1    1.5
0.2    2.0
0.3    2.5
0.4    3.0
0.5    3.5
0.6    4.0
0.7    4.5
0.8    5.0
0.9    5.5
1.0    6.0
Name: D, dtype: float64

In [8]:
df["D"].min()

1

In [9]:
df.select_dtypes(include=[np.number]).max()

A    1.0
C    8.0
D    6.0
dtype: float64

## Enum

In [10]:
df[["E", "F"]]

       E     F
0   test   foo
1  train  foo1
2   test  foo2
3  train  foo1
4    one   foo
5  train   foo

In [11]:
df["F"].value_counts()

foo     3
foo1    2
foo2    1
Name: F, dtype: int64